<section class="container py-5">
  <h1 class="display-3">
    Thank You
  </h1>
  <p class="lead">You Successfully completed transaction :)</p>
  <a href="/banner/showbanner/<%= timeslot.banner_id %>" class="btn btn-dark btn-lg">Go Back To Home Page</a>
</section>
