<form action="/user/createpublisher" method="POST" id="sign-up-form" class="form-signin">
  <h2 class="form-signin-heading">Add Details</h2>

  <% if(flash && flash.err) { %>
    <ul class="alert alert-success">
    <% Object.keys(flash.err).forEach(function(error) { %>
      <li><%- JSON.stringify(flash.err[error]) %></li>
    <% }) %>
    </ul>
  <% } %>

  <div class="control-group">
    <label class="my-1 mr-2" for="inlineFormCustomSelectPref">User Name</label>
    <input type="text" class="form-control" placeholder="your user name" name="username">
  </div>

  <div class="control-group">
    <label class="my-1 mr-2" for="inlineFormCustomSelectPref">Mobile Number</label>
    <input type="number" class="form-control" placeholder="your mobile number" name="mobile">
  </div>

  <div class="control-group">
    <label class="my-1 mr-2" for="inlineFormCustomSelectPref">Address</label>
    <input type="text" class="form-control" placeholder="your address" name="address">
  </div>

  <div class="control-group">
    <label class="my-1 mr-2" for="inlineFormCustomSelectPref">Designation</label>
    <input type="text" class="form-control" placeholder="your designation" name="designation">
  </div>

  <div class="control-group">
    <label class="my-1 mr-2" for="inlineFormCustomSelectPref">Bank Account Details</label>
    <input type="text" class="form-control" placeholder="your account name" name="pay_pk">
    <input type="password" class="form-control" placeholder="enter password" name="pay_sk">
  </div>

  <br>

  <input type="submit" class="btn btn-lg btn-primary btn-block" value="Sign Up">
  <input type="hidden" name="_csrf" value="<%= _csrf %>">
</form>
