<iframe width='600px' height='600px' id='mapcanvas' src='https://maps.google.com/maps?q=<%= banner.location_address %>&Roadmap&z=15&ie=UTF8&iwloc=&output=embed' frameborder='0' scrolling='no' marginheight='0' marginwidth='0' style="margin-left: 600px;">
  <div class='zxos8_gm'>
    <a rel='nofollow' href='https://wildernesswood.co.uk/group-visits/'>Norfolk</a>
  </div>
  <div style='overflow:hidden;'>
    <div id='gmap_canvas' style='height:100%;width:700px;'>
  </div>
  <div class="mt-5">
    <small>Powered by <a href='https://www.embedgooglemap.co.uk'>Embed Google Map</a></small>
  </div>
</iframe>
