<form action="/banner/createbanner" method="POST" id="sign-up-form" class="form-signin">
  <h2 class="form-signin-heading">Add Details</h2>

  <% if(flash && flash.err) { %>
    <ul class="alert alert-success">
    <% Object.keys(flash.err).forEach(function(error) { %>
      <li><%- JSON.stringify(flash.err[error]) %></li>
    <% }) %>
    </ul>
  <% } %>

  <div class="control-group">
      <input type="text" class="form-control" placeholder="Enter banner name" name="banner_name">
  </div>

  <div class="control-group">
      <input type="text" class="form-control" placeholder="Enter place" name="location_address">
  </div>

  <div class="control-group">
      <input type="text" class="form-control" placeholder="Enter city" name="city_name">
  </div>

  <div class="control-group">
      <input type="text" class="form-control" placeholder="Enter state" name="region_name">
  </div>

  <div class="control-group">
    <input type="text" class="form-control" placeholder="Enter state" name="country_name">
  </div>

  <div class="control-group">
      <input type="number" class="form-control" placeholder="Enter length in meter" name="banner_length">
  </div>

  <div class="control-group">
      <input type="number" class="form-control mt-2" placeholder="Enter height in meter" name="banner_height">
  </div>

  <input type="submit" class="btn btn-lg btn-primary btn-block mt-3" value="Create New Banner">
  <input type="hidden" name="_csrf" value="<%= _csrf %>">
</form>
